.four-card-feature {
  background-color: $very-light-gray;
  padding: 3.25rem;
  padding-top: 8.5rem;
}

.fcf-headings {
  margin-bottom: 8rem;

  &__description {
    margin-top: 2rem;
  }
}

.attribution {
  background-color: $very-light-gray;
  padding: 2.5rem 0;
}
