@charset "UTF-8";
/**********
 * Colors *
 **********/
*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}

/***********
 * Fuentes *
 ***********/
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-ExtraLight.ttf") format("truetype");
  font-weight: 200;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-Regular.ttf") format("truetype");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/Poppins-SemiBold.ttf") format("truetype");
  font-weight: 600;
  font-style: normal;
}
/*************************
 * Estilos de tipografía *
 *************************/
body {
  font-family: "Poppins";
  font-weight: 400;
  font-size: 1.5rem;
  color: #4c4e61;
}

/*****************************
 * Four card feature section *
 *****************************/
.fcf-headings {
  text-align: center;
}
.fcf-headings__title--1 {
  font-weight: 200;
  font-size: 2.4rem;
}
.fcf-headings__title--2 {
  font-weight: 600;
  font-size: 2.4rem;
}
.fcf-headings__description {
  font-weight: 400;
  color: #a3a5ae;
  font-size: 1.5rem;
  line-height: 2.4rem;
}

.fcf-card__title {
  font-size: 2rem;
  font-weight: 600;
}
.fcf-card__description {
  font-size: 1.3rem;
  font-weight: 400;
  color: #a3a5ae;
  line-height: 2.2rem;
}

.attribution {
  text-align: center;
}

.fcf-card {
  background-color: white;
  border-radius: 0.75rem;
  box-shadow: 0 0.75rem 1rem 0.25rem rgba(84, 158, 242, 0.15);
  max-width: 35rem;
  margin: 0 auto 2.5rem auto;
  overflow: hidden;
  padding: 2.75rem;
  position: relative;
  /*****************************
   * Estilos responsivos grid  *
   *****************************/
  /*****************
   * Estilos hijos *
   *****************/
  /**********************************
   * Estilos de la línea de colores *  
   *  que hay arriba de los cards.  *
   **********************************/
}
@media (min-width: 56.25em) {
  .fcf-card {
    margin: 0;
  }
  .fcf-card--cyan {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 2;
    grid-row-end: 4;
  }
  .fcf-card--red {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 3;
  }
  .fcf-card--orange {
    grid-column-start: 2;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 5;
  }
  .fcf-card--blue {
    grid-column-start: 3;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 4;
  }
}
.fcf-card__description {
  margin-top: 0.6rem;
}
.fcf-card__image {
  margin-top: 2.5rem;
  text-align: right;
}
.fcf-card::before {
  content: "";
  width: 100%;
  height: 4px;
  position: absolute;
  top: 0;
  left: 0;
}
.fcf-card--cyan::before {
  background-color: #45d3d3;
}
.fcf-card--red::before {
  background-color: #ea5353;
}
.fcf-card--orange::before {
  background-color: #fcaf4a;
}
.fcf-card--blue::before {
  background-color: #549ef2;
}

.four-card-feature {
  background-color: #fafafa;
  padding: 3.25rem;
  padding-top: 8.5rem;
}

.fcf-headings {
  margin-bottom: 8rem;
}
.fcf-headings__description {
  max-width: 50rem;
  margin: 2rem auto 0 auto;
}

@media (min-width: 56.25em) {
  .fcf-cards {
    display: grid;
    grid-template-columns: minmax(20rem, 35rem) minmax(20rem, 35rem) minmax(20rem, 35rem);
    grid-template-rows: 1fr 1fr 1fr 1fr;
    column-gap: 2.5rem;
    row-gap: 2.5rem;
    justify-content: center;
  }
}

.attribution {
  background-color: #fafafa;
  padding: 2.5rem;
}

body,
html {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  background-color: #fafafa;
}

footer {
  margin-top: auto;
}

/*# sourceMappingURL=style.comp.css.map */
